In [1]:
import pandas as pd
import numpy as np

In [21]:
## wine DB 가져오기
f = pd.read_csv('D:/Project/data/wine_db.csv')
df

,품명,가격,카테고리,생산지,품종,당도,산도,바디,타닌
0,"알바로 팔라시오스, 페탈로스",가격정보없음,레드,스페인,멘시아 (Mencia),1,0,4,0
1,알바로 팔라시오스 라 벤디미아,가격정보없음,레드,스페인,템프라니요 (Tempranillo),1,0,4,0
2,"바치오 디비노, 잰즌 카버네 소비뇽 토 칼른 빈야드",가격정보없음,레드,미국,카베르네 소비뇽 (Cabernet Sauvignon),1,3,5,5
3,"벨싯, 모스카토 다스티","53,000원",화이트,이탈리아,모스카토 (Moscato ),4,2,2,1
4,"베린저, 스파클링 화이트 진판델",가격정보없음,스파클링,미국,진판델 (Zinfandel),3,2,3,1
...,...,...,...,...,...,...,...,...,...
11729,"비테 콜테, 에센제 바롤로","157,000원",레드,이탈리아,네비올로 (Nebbiolo),1,3,3,3
11730,"카스텔 델 레메이, 템프라니요","36,000원",레드,스페인,템프라니요 (Tempranillo),1,3,3,3
11731,"핀카 펠라, 알타도 베르데호","72,000원",화이트,스페인,베르데호 (Verdejo),1,3,1,1
11732,"핀카 펠라, 알타도 모나스트렐","72,000원",레드,스페인,모나스트렐 (Monastrell),1,3,3,3
11733,"핀카 펠라, 엘 마소","163,000원",레드,스페인,가르나차 틴토레라 (Garnacha Tintorera),1,3,4,4

In [9]:
## 품종, 맛으로 이루어진 data 가공
df_final=df.drop(df.columns[0:4],axis=1)
df_final

                                     품종  당도  산도  바디  타닌
0                         멘시아 (Mencia)    1   0   4   0
1                  템프라니요 (Tempranillo)    1   0   4   0
2        카베르네 소비뇽 (Cabernet Sauvignon)    1   3   5   5
3                     모스카토  (Moscato )    4   2   2   1
4                      진판델 (Zinfandel)    3   2   3   1
...                                 ...  ..  ..  ..  ..
11729                  네비올로 (Nebbiolo)    1   3   3   3
11730              템프라니요 (Tempranillo)    1   3   3   3
11731                   베르데호 (Verdejo)    1   3   1   1
11732               모나스트렐 (Monastrell)    1   3   3   3
11733  가르나차 틴토레라  (Garnacha Tintorera)    1   3   4   4

[11734 rows x 5 columns]

In [11]:
## 품종 1개 인거 제거하기
def del_row(df,k):
    lists=df['품종']
    count={}
    b=[]
    a=[]
    for i in lists:
        try: count[i] += 1
        except: count[i]=1
    for i in count.keys():
        if count[i]==k:
            b.append(i)
    for i in range(len(b)):
        a.append(df.index[df['품종']==b[i]][0])
    df = df.drop(index=a, axis=0)
    return df

In [14]:
df_final=del_row(df_final,1)

In [16]:
df_final.to_csv('D:/Project/data/cluster_data.csv',encoding='cp949')

In [23]:
## 전체 DB 원 핫 인코딩
df_encoding=df.drop(df.columns[0:2],axis=1)
df_encoding=pd.get_dummies(data = df_encoding, columns = ['카테고리'], prefix = '카테고리')
df_encoding=pd.get_dummies(data = df_encoding, columns = ['생산지'], prefix = '생산지')
df_encoding=pd.get_dummies(data = df_encoding, columns = ['품종'], prefix = '품종')
df_encoding=pd.get_dummies(data = df_encoding, columns = ['당도'], prefix = '당도')
df_encoding=pd.get_dummies(data = df_encoding, columns = ['산도'], prefix = '산도')
df_encoding=pd.get_dummies(data = df_encoding, columns = ['바디'], prefix = '바디')
df_encoding=pd.get_dummies(data = df_encoding, columns = ['타닌'], prefix = '타닌')
df_encoding

,카테고리_레드,카테고리_로제,카테고리_스파클링,카테고리_화이트,생산지_그리스,생산지_남아프리카,생산지_남아프리카 공화국,생산지_뉴질랜드,생산지_대한민국,생산지_독일,...,바디_2,바디_3,바디_4,바디_5,타닌_0,타닌_1,타닌_2,타닌_3,타닌_4,타닌_5
0,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11729,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
11730,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
11731,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
11732,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
11733,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [24]:
df_encoding.to_csv('D:/Project/data/encoding_data.csv',encoding='cp949')